<link rel="stylesheet" href="home.css">

<div class="home-content">
	<h1>welcome to</h1>
	<h1>Bookers</h1>
	<p>In Bookers</p>
	<p>you can share and exchange your opinions, inpressions, and emotions<br>about various books!</p>
	<%= link_to "Log in", '/users/sign_in' %>
	<%= link_to "Sign Up", '/users/sign_up' %>
</div>